/* Top */
#top ul{
    padding-top: 8px;
}
#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}
.social ul li a i{
    font-size: 20px;
    margin: 0 1px;
}
.registro ul{
    text-align: right;
    font-size: 12px;
}
/* Header */
header #btnCategorias{
    margin: 20px 0;
}
header #btnCategorias p{
    line-height: 40px;
    margin-bottom: 0px;
}
header #btnCategorias p span{
    cursor: pointer;
}
header #buscador{
    margin: 20px 0;
}
header #buscador input{
    padding: 19px;
    border-radius: 0;
}
header #buscador button{
    padding: 9px;
    border: 1px solid silver;
    border-radius: 0;
}